<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [31]:
# Your code here

#create random number
import random
from statistics import mean

Random_number = random.sample(range(1, 100), 12)

#sort in ascending 
Random_number.sort()
print("list of numbers in ascending", Random_number)
print(round(mean(Random_number),2))

#sort in descending and mean
Random_number.sort(reverse=True)
print("list of numbers in descending", Random_number)
print(round(mean(Random_number),2))

list of numbers in ascending [16, 20, 25, 26, 35, 38, 59, 69, 76, 78, 87, 99]
52.33
list of numbers in descending [99, 87, 78, 76, 69, 59, 38, 35, 26, 25, 20, 16]
52.33

In [32]:
#create random number
import random
from statistics import mean

def Question01(x,y,z):
    Random_number = random.sample(range(x, y+1), z)

    #sort in ascending 
    Random_number.sort()
    print("list of numbers in ascending", Random_number)
    print(round(mean(Random_number),2))

    #sort in descending and mean
    Random_number.sort(reverse=True)
    print("list of numbers in descending", Random_number)
    print(round(mean(Random_number),2))

Question01(1, 100, 12)

list of numbers in ascending [12, 17, 26, 46, 56, 59, 65, 68, 71, 75, 88, 89]
56
list of numbers in descending [89, 88, 75, 71, 68, 65, 59, 56, 46, 26, 17, 12]
56

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [33]:
# Your code here

# Part 1
#Enter two sentences
print("Part1 \n")
Sentence_1 = input('Enter first sentence: ')
Sentence_2 = input('Enter second sentence: ')

#part 2
print("Part2 \n")
First_sentence = Sentence_1.split()
print(First_sentence)
Second_sentence = Sentence_2.split()
print(Second_sentence)

#Compare two sentences(Part3)
print("Part3 \n")

compare_list = [x for x in First_sentence if x in Second_sentence]
print(compare_list)


#remove punctuation(part4)
print("Part4 \n")
ban_list = ["," , ".", ";", ":", "#", "@"]
clean_1 = [x for x in First_sentence if x not in ban_list]
clean_2 = [x for x in Second_sentence if x not in ban_list]
print(clean_1)
print(clean_2)

Part1

Enter first sentence: jiaildj ,.,
Enter second sentence: hhdiow.,;
Part2

['jiaildj', ',.,']
['hhdiow.,;']
Part3

[]
Part4

['jiaildj', ',.,']
['hhdiow.,;']

In [34]:
# Part 5
def countv(st):
  newDict = {"a":0,"e":0,"i":0,"u":0,"o":0}
  for i in st:
      if i == "a":
        newDict["a"] += 1
      if i == "e":
        newDict["e"] += 1
      if i == "i":
        newDict["i"] += 1
      if i == "o":
        newDict["o"] += 1
      if i == "u":
        newDict["u"] += 1
  newDict = dict(sorted(newDict.items(), key=lambda x:-x[1]))
  print(newDict)

print("the number of vowels in the first sentence is")
countv(Sentence_1)
print("the number of vowels in the second sentence is")
countv(Sentence_2)

the number of vowels in the first sentence is
{'i': 2, 'a': 1, 'e': 0, 'u': 0, 'o': 0}
the number of vowels in the second sentence is
{'i': 1, 'o': 1, 'a': 0, 'e': 0, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [35]:
# Your code here
import math

def valueV(r):
    V =list(range(1, r+1))
    print("r \t V ")
    for r in range(1,r+1):
      V[r-1] = (4/3) * math.pi * r**3
      print(r,"\t",round(V[r-1],2))

valueV(10)

r 	 V
1 	 4.19
2 	 33.51
3 	 113.1
4 	 268.08
5 	 523.6
6 	 904.78
7 	 1436.76
8 	 2144.66
9 	 3053.63
10 	 4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
!pip install datascience
!pip install numpy
!pip install matplotlib
!pip install pandas
!pip install tensorflow

In [37]:
# Your code here
# part1
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload()
import io
Denton_housing = pd.read_csv(io.BytesIO(uploaded["Assignment1_denton_housing.csv"]))
Denton_housing_Owner_Occupied = Denton_housing[Denton_housing['title_field']=="Occupied Housing Units"] 

Denton_housing_Owner_Occupied = Denton_housing_Owner_Occupied.sort_values(by=['year'])

Denton_housing_Owner_Occupied['value_diff'] = Denton_housing_Owner_Occupied['value'].diff()
print("Part 1")
Denton_housing_Owner_Occupied

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing (2).csv
Part 1

    year             title_field  value  value_diff
20  2008  Occupied Housing Units  36711         NaN
17  2009  Occupied Housing Units  35916      -795.0
14  2010  Occupied Housing Units  41007      5091.0
11  2011  Occupied Housing Units  40704      -303.0
8   2012  Occupied Housing Units  42108      1404.0
5   2013  Occupied Housing Units  43673      1565.0
2   2014  Occupied Housing Units  46295      2622.0

In [38]:
# part2
Denton_housing_Owner_Occupied = Denton_housing[(Denton_housing['title_field']=="Occupied Housing Units") | (Denton_housing['title_field']=="Vacant Housing Units")] 
Denton_housing_Owner_Occupied = Denton_housing_Owner_Occupied.sort_values(by=['year'])
Denton_housing_Owner_Occupied = Denton_housing_Owner_Occupied.reset_index()
Denton_housing_Owner_Occupied

df_Vacant   = Denton_housing[(Denton_housing['title_field']=="Vacant Housing Units")].reset_index()
df_Vacant = df_Vacant.rename(columns={'value': 'VacantValue'}).sort_values(by=['year'])

df_Occupied   = Denton_housing[(Denton_housing['title_field']=="Occupied Housing Units")].reset_index() 

df_new= pd.concat([df_Vacant["year"],df_Vacant["title_field"],df_Vacant["VacantValue"], df_Occupied["title_field"],df_Occupied["value"]], axis=1).sort_values(by=['year'])
df_new

df_new["VacantPercentage"]   = (100*( df_new["VacantValue"] /(df_new["VacantValue"] + df_new["value"])).round(2)).astype(str) + '%'
df_new["OccupiedPercentage"] = (100*( df_new["value"] /(df_new["VacantValue"] + df_new["value"])).round(2)).astype(str) + '%'
df_new = df_new.reset_index()
df_new = df_new[['year', 'VacantPercentage', 'OccupiedPercentage']]
print(df_new)

   year    VacantPercentage OccupiedPercentage
0  2008               11.0%              89.0%
1  2009                9.0%              91.0%
2  2010                8.0%              92.0%
3  2011                9.0%              91.0%
4  2012  7.000000000000001%              93.0%
5  2013                9.0%              91.0%
6  2014                6.0%              94.0%

In [39]:
#part3

print ("part 3\n")
df_Vacant['VacantValue'].max()
df_Occupied['value'].max()

id1 =df_Vacant['VacantValue'].idxmax()
yearV = df_Vacant['year'][id1]

id =df_Occupied['value'].idxmax()
yearO = df_Occupied['year'][id]

part3 = [['Vacant Housing Units', yearV, df_Vacant['VacantValue']. max()], ['Occupied Housing Units', yearO, df_Occupied['value']. max()]]
df = pd.DataFrame(part3, columns = ['','Year', 'Value'])

df

part 3

                           Year  Value
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

In [40]:
#part4
df_Total = Denton_housing[(Denton_housing['title_field']=="Total Housing Units")].reset_index()
n = df_Total['index'].count()
H= (n/sum(1/df_Total['value'])).round(2)
print("the harmonic mean is" , H)

the harmonic mean is 44398.29